<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<!-- ヘッダ領域の表示 -->
	<th:block th:replace="~{parts/header}"></th:block>
	<hr />
	<!-- ナビゲーション領域の表示 -->
	<th:block th:replace="~{parts/navi}"></th:block>
	<!-- 商品一覧表示領域 -->
	<table th:if="${itemList}">
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>値段</th>
			<th></th>
		</tr>
		<tr th:each="item:${itemList}">
			<td>[[${item.id}]]</td>
			<td><a th:href="'/items/' + ${item.id}" th:text="${item.name}"></a></td>
			<td>[[${item.price}]]</td>
			<td>
				<form action="" method="">
					<button>カートに追加</button>
				</form>
			</td>
		</tr>
	</table>
	<hr />
	<!-- フッタ領域の表示 -->
	<th:block th:replace="~{parts/footer}"></th:block>
</body>
</html>